@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-icon1 {
  transform: rotate(180deg);
}
.rotate-icon2 {
  transform: rotate(180deg);
}
.MuiOutlinedInput-notchedOutline {
  border-radius: 80px !important;
  border: 1px solid white;

}
.white-input {
  color: white; /* Input text color */
}

.white-input::placeholder {
  color: white; /* Placeholder text color */
}
